.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 40px;
  color: white;
  margin-bottom: 130px;
}

.compte-wrapper {
  margin-bottom: 100px;
}


.form-container {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.05);
  animation: fadeIn 1s ease;
  flex: 1 1 300px;
  color: white;
}

textarea {
  background-color: #1a1a1a;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-family: inherit;
  font-size: 1rem;
  resize: none; 
}


.form-container h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: -15px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #1a1a1a;;
  color: white;
}

.form-container input::placeholder {
  color: #ccc;
}

.form-container button {
  background-color: #5e3ddb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.form-container button:hover {
  transform: scale(1.05);
  background-color: #7e5dfa;
}

.submit {
    font-size: 1rem;
}


.toggle-message {
  margin-top: 15px;
  text-align: center;
  font-size: 0.9rem;
}

.toggle-message a {
  color: #5e3ddb;
  text-decoration: underline;
  cursor: pointer;
}

.confirmation-message {
  margin-top: 20px;
  color: #ffd700;
  font-size: 1rem;
  text-align: center;
  animation: fadeIn 0.5s ease;
}

.hidden {
  display: none;
}


.boutique-preview {
  margin-top: 30px;
  text-align: center;
}

.boutique-box {
  background-color: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 12px;
  margin-top: 10px;
}

.boutique-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #5e3ddb;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.boutique-button:hover {
  background-color: #7e5dfa;
  transform: scale(1.05);
}





@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
